<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>ControlMant</title>

    <link rel="stylesheet" href="../css/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

</head>

<body>
    <nav class="navbar navbar-expand-lg ">
        <div class="container-fluid">
            <a class="navbar-brand" href="index.html">ControlMant</a>

            <div class="navbar-nav">
                <a class="nav-link" href="index.html">Inicio</a>
                <a class="nav-link" href="activos.html">Activos</a>
                <a class="nav-link" href="mantenimientos.html">Mantenimientos</a>
                <a class="nav-link" href="historial.html">Historial</a>
                <a class="nav-link" href="alertas.html">Alertas</a>
            </div>
        </div>
    </nav>

    <header>
        <h1>Alertas de Mantenimiento</h1>
    </header>

    <main class="contenedor">

        <h2>Seguimiento</h2>

        <table class="table">
            <thead>
                <tr>
                    <th>Activo</th>
                    <th>Descripción</th>
                    <th>Estado</th>
                    <th>Fecha fin</th>
                </tr>
            </thead>
            <tbody id="listaAlertas"></tbody>
        </table>

    </main>

    <script src="../js/storage.js"></script>
    <script src="../js/alertas.js"></script>

</body>

</html>